* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #292b2c;
    color: #fff;
    padding: 15px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #575757;
}

.main-content {
    flex: 1;
    padding: 20px;
}

header {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.stat-card {
    flex: 1;
    background-color: #fff;
    margin: 0 10px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.green {
    background-color: #28a745;
    color: white;
}

.blue {
    background-color: #007bff;
    color: white;
}

.red {
    background-color: #dc3545;
    color: white;
}

.yellow {
    background-color: #ffc107;
    color: black;
}

.info-cards {
    display: flex;
    justify-content: space-between;
}

.info-card {
    flex: 1;
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

/* /// */

.search-bar {
    margin-bottom: 20px;
}

.search-bar input,
.search-bar select,
.search-bar button {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

.summary {
    margin-top: 20px;
    font-weight: bold;
}

/* // */

.store-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* /// */



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header input {
    padding: 10px;
    width: 300px;
}

.header .date-info,
.header .stock-info,
.header .total-value {
    margin-left: 20px;
}

.header .view-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}